/* Mobile first styles */

/* Basic style for the website */

body {
  background-color: #283e50;
  height: 100vh;
  width: 100vW;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
}

/* Styles for the main content of the website */

.game-intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* Header (banner) styles */

.game-intro__header {
  width: 100%;
  display: flex;
  order: 1;
}

.game-intro__image {
  width: 100%;
  order: 2;
}

/* Styles for the textual section */

.game-intro__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  line-height: 1.5rem;
}

.game-intro__heading {
  font-family: Lobster, cursive;
  font-size: 2.5rem;
  font-weight: 100;
  margin: 30px
}

.game-intro__description {
  margin: 0 25px 25px 25px;
}

/* Buttons styles */

.game-intro__buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1px;
  background-color: #283e50;
  order: 3;
  position: sticky;
  bottom: 0;
}

.game-intro__button {
  width: 100%;
  display: flex;
  padding: 0;
  border: 0;
}

.game-intro__button--primary {
  width: 100%;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.game-intro__button--rules {
  background-color: #1fcca4;
}

.game-intro__button--rules:hover {
  background-color: #1cbb96;
}

.game-intro__button--start {
  background-color: #0197f6;
}

.game-intro__button--start:hover {
  background-color: #0090e9;
}

/* Media query for tablets and down-sized browser windows */

@media (min-width: 480px) {
  body {
    background-image: linear-gradient(#615dad, #ffc8da);
  }

  .game-intro {
    width: 90%;
    max-width: 550px;
    margin-top: 4rem;
  }

  .game-intro__image {
    border-radius: 10px 10px 0 0;
  }

  .game-intro__buttons {
    order: 0;
    position: static;
    box-shadow: 0 5px 3px -3px #00000030;
  }

  .game-intro__image {
    order: 0;
  }

  .game-intro__header {
    order: 0;
  }
}

/* Media query for full-sized browser windows */

@media (min-width: 1000px) {
  .game-intro {
    width: 50%;
    max-width: 400px;
    margin-top: 7rem;
  }
}

/* Styles for the game page */

/* Styles for the main content of the game page */

.game {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 80vmin;
  width: 500px;
  margin-top: 3rem;
}

/* Styles for the name of the game */

.game__heading {
  font-family: Lobster, cursive;
  font-size: 2.5rem;
  font-weight: 100;
  margin: 30px 0 10px 0
}

/* Styles for the navigation - display of the player and control buttons */

.game__playerMenu {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.game__player {
  display: flex;
  align-items: center;

}

.game__playerInfo {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  margin-right: 0.3rem;

}

.game__playerIcon {
  transform: scale(0.7);
}

.game__options {
  display: flex;
  gap: 7px
}

.game__options img {
  transform: scale(0.7);
}


.game__button {
  padding: 0.3rem;
  border-radius: 5px;
  border: 0;
}

.game__button--home {
  background-color: #1fcca4;
}

.game__button--home:hover,
.game__button--home:focus {
  background-color: #1cbb96;
}

.game__button--restart {
  background-color: #0197f6;
}

.game__button--restart:hover,
.game__button--restart:focus {
  background-color: #0090e9;
}

/* Styles for the main game deck */

.game__deck {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #283e50;
  box-shadow: 0 0 4px 4px #283e5031;
  background-color: #ffffff3d;
}

.game__box {
  padding: 0;
  width: 10%;
  background: none;
  border: 1px solid #283e50;
  box-sizing: border-box;
  padding-top: 10%;
}

.game__box:hover,
.game__box:focus {
  padding: 0;
  width: 10%;
  background-color: #e7dede80;
  cursor: pointer;
}

/* Styles for circles and crosses */

.game__box--circle {
  background-image: url(ikonky/circle-black.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.game__box--cross {
  background-image: url(ikonky/cross-black.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}
