body {
  background-image: linear-gradient(#615dad, #ffc8da);
  height: 100vh;
  width: 100vW;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
}

.game-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  width: 50%;
  max-width: 450px;
  ;
}

.game-intro__header {
  width: 100%;
  display: flex;
}

.game-intro__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.game-intro__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #283e50
}

.game-intro__heading {
  font-family: Lobster, cursive;
  font-size: 2.5rem;
  font-weight: 100;
  margin: 20px
}

.game-intro__description {
  margin: 0 25px 25px 25px;
}

.game-intro__buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1px;
  background-color: #283e50;
}

.game-intro__button {
  width: 100%;
  display: flex;
  padding: 0;
  border: 0;
}

.game-intro__button--primary {
  width: 100%;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.game-intro__button--rules {
  background-color: #1fcca4;
}

.game-intro__button--rules:hover {
  background-color: #1cbb96;
}

.game-intro__button--start {
  background-color: #0197f6;
}

.game-intro__button--start:hover {
  background-color: #0090e9;
}
